version: '3.9'

services:
  backend:
    build: ./backend
    container_name: esp-backend
    ports:
      - "8080:8080"

  frontend:
    build: ./frontend
    container_name: esp-frontend
    ports:
      - "3000:3000"

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: espdb
    ports:
      - "3306:3306"
